
@{
    ViewData["Title"] = "Index";

    <text>
        You entered: <br />
        Company Name: @TempData["CompanyName"]<br />
        Contact Name: @TempData["ContactName"]<br />
        Employee Count: @TempData["EmployeeCount"]<br />
        Web Root Path: @TempData["WebRootPath"]<br />
        Content Root: @TempData["ContentRootPath"]<br />
    </text>
}

<h2>Index</h2>

<form asp-controller="Form" asp-action="Index" method="post">
    <fieldset>
        <legend>Add Customer</legend>
        <div class="form-group">
            <label for="CompanyName">Company Name:</label>
            <input type="text" class="form-control" name="CompanyName" value="" />
        </div>
        <div class="form-group">
            <label for="ContactName">Contact Name:</label>
            <input type="text" class="form-control" name="ContactName" value="" />
        </div>
        <div class="form-group">
            <label for="EmployeeCount">Employee Count:</label>
            <input type="number" class="form-control" name="EmployeeCount" value="" />
        </div>
        <div>
            <button type="submit" class="btn btn-default" value="Submit" >Submit</button>
        </div>
    </fieldset>
</form>

